body {
    max-height: 10vh;
}

button {
    margin-right: 22%;
}

.quan {
    width: 10px;
    margin-top: 3px;
}

.boxdisplay {

}

#left {
    width: 50px;
    margin-right: 85px;
    margin-top: 3px;
}

input[type=submit] {
    background-color: #000000;
    border: none;
    color: white;
    padding: 16px 50px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#footer2 {
    margin-bottom: -800px;
    margin-top: 100px;
}

#navbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

input[type="text"] {
    width: 50px;
    margin-left: -8px;
}

#quanbox {
    position: absolute;
    transform: translate(-50%, 0);
    padding-left: 550px;
}

#itembox{
    /*margin-right: 10px;*/
    margin:20px;
    margin: auto;
    width: 30%;
    padding: 30px;
    right: 30px;
    
}

.plus {
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 3px;
  }

  .minus {
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    padding-right: 8.5px;
    padding-left: 8.5px;
    margin-bottom: 3px;
  }

/*
#footer{

}

#submit{
   
}
*/