#wrapper {
   position: absolute;
}

button {
    margin-right: 22%;
}

.quan {
    width: 10px;
    margin-top: 3px;
}

#left {
    width: 50px;
    margin-right: 85px;
    margin-top: 3px;
}

#submit {
    background-color: #000000;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;

    width: 20px;
    font-size: 5px;
}

#footer2 {
    margin-bottom: -800px;
    margin-top: 100px;
}

#navbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

input[type="text"] {
    width: 50px;
    margin-left: 23px;
}

#quanbox {
    position: absolute;
    transform: translate(-50%, 0);
    padding-left: 550px;
    pointer-events: none;
}

#itembox{
    /*margin-right: 10px;*/
    margin:20px;
    margin: auto;
    width: 32%;
    padding: 30px;
    right: 30px;
    
    
}

.plus {
    position: absolute;
    transform: translate(-50%, 0);
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;

    padding-right: 11px;
    padding-left: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    margin-right: 10px;
    margin-bottom: 3px;
    margin-bottom: 50px;
    
   
    
    right: -330px;
    bottom: -395px;
    
  }

  .minus {
    position: absolute;
    transform: translate(-50%, 0);
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-bottom: 3px;
    margin-right: -30px;

    right: -329px;
    bottom: -348px;
  }

  .additem{
      margin-top: 20px;
  }

  .container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  #cart{
    position: absolute;
    top: 39%;
    left: 87%;
    transform: translate(-50%, -50%);
    font-size: medium;
    font-size: 12px;
  }

  #homepagebox{
      padding-bottom: -200px;
  }

  #checkoutbutton{
      font-size: 14px;
      margin-right: 13px;
      margin-bottom: -10px;
      margin-top: -10px;
      
  }


    