form {
    margin-top: 14%;
  }
  
  #usernamebox {
    width: 17%;
    padding: 5px;
    text-align: center;  
  }
  
  #passwordbox {
    width: 17%;
    margin-top: 3px;
    padding: 5px;
    text-align: center;
  }
  #passwordbox2 {
    width: 17%;
    margin-top: 3px;
    padding: 5px;
    text-align: center;
  }

  #emailbox{
    width: 17%;
    margin-top: 3px;
    padding: 5px;
    text-align: center; 
  }

  #submitbutton {
    margin-top: .5%;
    background-color: #000000; 
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}
#submitbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
